<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="leaflet.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="leaflet.js"></script>
    <script src="https://mapzen.com/tangram/tangram.min.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="Polyline.encoded.js"></script>
    <script src="scripts.js"></script>
    <script src="turf.min.js" charset="utf-8"></script>
    <script src="polyline.js" charset="utf-8"></script>
  </head>
  <body>
    <h1 id="header">walk of shame</h1>
    <div id="input">
      <div id="borough-picker">
        <select class="form-control" id="borough-input">
          <option value="" selected disabled>get directions from bars in...</option>
          <option value="manhattan">manhattan</option>
          <option value="bronx">bronx</option>
          <option value="brooklyn">brooklyn</option>
          <option value="queens">queens</option>
          <option value="staten_island">staten island</option>
        </select>
        <label id="pick-one" hidden>  <--- pick one of these</label>
      </div>
      <br>
      <div id="address-field">
        <label>to...</label>
        <input type="text" id="address-input" placeholder="your address (e.g. 123 main st brooklyn ny)">
      </div>
      <br>
      <button id="submit">go</button>
    </div>
    <div id="counter">
      <label id="counter-label"></label>
    </div>
    <div id="map"></div>
  </body>
</html>